

.exotel_sup {
    background: #2ED1B1 0% 0% no-repeat padding-box;
    border-radius: 33px;
    opacity: 1;
    width: 100%;
  }
  
  .gateway_sup {
    background: #8E44AD 0% 0% no-repeat padding-box;
    border-radius: 33px;
    opacity: 1;
    width: 100%;
  }
  
  .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .repass_sup {
    background: #E74C3D 0% 0% no-repeat padding-box;
    border-radius: 33px;
    opacity: 1;
    width: 100%;
  }
  .pin_sup {
    background: #90A5A1 0% 0% no-repeat padding-box;
    border-radius: 33px;
    opacity: 1;
    width: 100%;
  }
  
  
  
  .edit_sup {
    background: #2A80B9 0% 0% no-repeat padding-box;
    border-radius: 33px;
    opacity: 1;
    width: 100%;
  }
  
  .active_sup {
    background: #F39C13 0% 0% no-repeat padding-box;
    border-radius: 33px;
    opacity: 1;
    width: 100%;
  }
  
  .manual_sup {
    background: #15A085 0% 0% no-repeat padding-box;
    border-radius: 33px;
    opacity: 1;
    width: 100%;
  }
  
  .adv_sup {
    background: #35495F 0% 0% no-repeat padding-box;
    border-radius: 33px;
    opacity: 1;
    width: 100%;
  }
  
  .card_logo {
    margin-top: -10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card_msg {
    text-align: left;
    font: normal normal medium 24px/24px Roboto;
    letter-spacing: 0.72px;
    color: #FFFFFF;
    opacity: 1;
  }
  
  .card_div {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .card-inn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  